<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>

    <!-- Colored Console is used when starting the service in Console Moed-->
    <target xsi:type="ColoredConsole"
             name="cc"
             useDefaultRowHighlightingRules="true"
             errorStream="true"
             detectConsoleAvailable="true"/>

    <!-- File target is usefull when running as a windows service-->
    <target name="file" xsi:type="File"
                layout="${longdate} ${logger} ${message}"
                fileName="${specialfolder:folder=CommonApplicationData}\NoteSync\${shortdate}.log" />

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="cc" />
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>
